@font-face {
  font-family: "iconfont"; /* Project id 4682361 */
  src: url('iconfont.woff2?t=1728439906013') format('woff2'),
       url('iconfont.woff?t=1728439906013') format('woff'),
       url('iconfont.ttf?t=1728439906013') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e682";
}

.icon-done:before {
  content: "\e603";
}

.icon-cancel:before {
  content: "\e63c";
}

.icon-close:before {
  content: "\e63e";
}

.icon-grid:before {
  content: "\e783";
}

.icon-gamearea:before {
  content: "\e612";
}

.icon-alignleft:before {
  content: "\e719";
}

.icon-alignright:before {
  content: "\e718";
}

.icon-alignbottom:before {
  content: "\e639";
}

.icon-aligntop:before {
  content: "\e63a";
}

.icon-horizontal:before {
  content: "\e600";
}

.icon-vertical:before {
  content: "\e601";
}

.icon-aligncenter:before {
  content: "\e6a9";
}

.icon-select:before {
  content: "\e6bd";
}

.icon-yuanxing:before {
  content: "\e692";
}

.icon-juxing:before {
  content: "\e64d";
}

