@font-face {
  font-family: "iconfont"; /* Project id 4616182 */
  src: url('iconfont.woff2?t=1720594263406') format('woff2'),
       url('iconfont.woff?t=1720594263406') format('woff'),
       url('iconfont.ttf?t=1720594263406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e69e";
}

.icon-del:before {
  content: "\e69f";
}

.icon-down:before {
  content: "\e6a0";
}

